html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: min-content;
    margin: 0 auto;

    outline: 2px solid black;
}

nav>ul>li {
    display: inline-block;
    margin: 0 0.5rem;
    
    outline: 2px solid black;
    
    white-space: nowrap;
}