:root {
    --animation-fast: 150ms;
    --animation-slow: 300ms;

    --color-main-accent: rgb(248, 213, 72);
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styling starts here */

.navbar {
    /* Can be changed to sticky */
    position: relative;
    top: 0;

    width: 100%;

    background-color: yellow;

    padding: 1rem 0;
}

.navbar .navbar-toggle {
    position: absolute;
    left: -500px;
}

.navbar .navbar-toggle-label {
    display: block;

    width: 2rem;
    height: 2rem;
    margin-left: auto;
    margin-right: 1rem;
    
    background-color: black;

    /* Animation */
    transition: background-color var(--animation-slow) ease var(--animation-slow);
}

.navbar-toggle:checked ~ .navbar-toggle-label {
    transition: background-color var(--animation-slow) ease;
    background-color: yellow
}

.navbar .icon {
    visibility: hidden;

    transform: translateY(200%);
    
    width: 100%;
    height: 20%;
    margin: 0, auto;
}

.navbar .icon::before,
.navbar .icon::after {
    content: "";
    display: block;
    visibility: visible;
    position: absolute;
    
    width: 100%;
    height: 100%;

    background-color: yellow;

    /* Animation */
    transition: transform var(--animation-fast) ease-out, background-color var(--animation-slow) ease var(--animation-slow);
    transform-origin: center;
}

.navbar .icon::before {
   transform: translateY(-100%);
}

.navbar .icon::after {
    transform: translateY(100%);
}

.navbar-toggle:checked ~ *>.icon::before {
    transform: rotate(45deg) scaleX(120%);
    
    background-color: black;

    /* Animation */
    transition: background-color var(--animation-slow) ease, transform var(--animation-fast) ease-out var(--animation-slow);
}

.navbar-toggle:checked ~ *>.icon::after {
    transform: rotate(-45deg) scaleX(120%);

    background-color: black;
    /* Animation */
    transition: background-color var(--animation-slow) ease, transform var(--animation-fast) ease-out var(--animation-slow);
}

.navbar ul {
    position: absolute;
    top: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    width: 100%;
    padding: 1rem 0;

    background-color: yellow;

    list-style: none;

    transform-origin: top;
    transform: scale(1,0);
    transition: transform var(--animation-slow) ease-out var(--animation-fast);
}

.navbar li {
    width: min-content;
    margin-left: auto;
    margin-right: auto;

    transform: scale(1,0);
    transform-origin: top;
    transition: transform var(--animation-fast) ease-out;
}

.navbar .active {
    /* border-bottom: 0.25rem solid black; */
    color: yellow;
    background-color: black;
}

.navbar a:focus,
input:focus + .navbar-toggle-label {
    outline: 0.125rem solid black;
    outline-offset: 0.125rem;

    z-index: 99;
}

.navbar a:hover {
    color: yellow;
    background-color: black;
}

.navbar-toggle:checked .navbar-toggle-label{
    outline: unset;
}

.navbar a {
    display: block;
    
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;

    color: inherit;
}

.navbar-toggle:checked ~ ul {
    transform: scale(1,1);
    transition: transform var(--animation-slow) ease-out;
}

.navbar-toggle:checked ~ ul li {
    transform: scale(1,1);
    transition: transform var(--animation-slow) ease-out var(--animation-slow);
}

/* Eksempel på bruk av grid: */

.fun-main {
    display: grid;
    gap: 3rem;

    /* padding: 5rem 5vw; */
}

.content {
    padding: 5rem 5vw;
}


.fun-main p {
    margin: 2rem 0;
}

footer.fun {
    padding: 2rem 10vw;
    background-color: yellow;
}

.hide {
    display: none;
}

@media screen and (min-width: 600px) {

    .navbar-toggle,
    .navbar-toggle-label {
        display: none !important;
    }

    .navbar ul {
        flex-flow: row;
        justify-content: flex-end;
        gap: 2rem;
        
        top: 0;
        padding: 1rem 10vw;
        
        transform: scale(1,1);
    }

    .navbar li {
        margin: 0;
        /* margin-right: 1rem; */
        transform: scale(1,1);
    }

    .navbar a {
        /* font-size: 1rem; */
    }

    .fun-main {
        /* Denne bestemmer bredden på hver kolonne:  */
    grid-template-columns: 3fr 1fr;
    
    /* Denne bestemmer plasseringen:  */
    grid-template-areas: "article aside";
    }

    .content {
    padding: 5rem 10vw;
    }

    .fun-main article {
        grid-area: article;
    }
    
    .fun-main aside {
        grid-area: aside;
    }
}

